[Unit]
Description=Synchronize AppStream metadata from repositories into AS-cache
After=local-fs.target
ConditionDirectoryNotEmpty=!/var/cache/app-info/xmls

[Service]
# added automatically, for details please see
# https://en.opensuse.org/openSUSE:Security_Features#Systemd_hardening_effort
ProtectSystem=full
ProtectHome=true
PrivateDevices=true
ProtectHostname=true
ProtectClock=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
# end of automatic additions
Type=forking
ExecStart=/usr/bin/zypper appstream-cache

[Install]
WantedBy=multi-user.target

